{% extends 'main/base.html' %}
{% block title %}
    Services List
{% endblock %}
{% block content %}
    <p class="title">Services</p>
    {% if user.is_company %}
        <a class="create_service" href="/services/create/{{ user.username }}"> Create Service</a>
    {% endif %}
    <div class='services_list'>
        {% if services %}
            {% for service in services %}
            <div>
                <a href="/services/{{service.id}}">{{service.name}}</a> ({{service.field}})
                <p style="margin: 0; display: inline-block;"> -- {{ service.price_hour }}€/hour</p>
                <p style="float: right; margin: 0;">
                    by <a href="/company/{{service.company.user}}">{{service.company.user}}</a>
                </p> 
            </div>
            <div class="line"></div>
            {% endfor %}
        {% else %}
            <h2>Sorry No services available yet</h2>
        {% endif %}
     </div>
{% endblock %}
